{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="icon" href="{{ asset('images/dice.svg') }}" sizes="any" type="image/svg+xml">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block header %}
    <a class="logo" href="{{ path('main-menu') }}"><img src="{{ asset('images/dice.svg') }}" width="40" height="40"/></a>
    <div class="title">
        Play a board game with LLM
    </div>
{% endblock %}

{% block content %}
    <div class="flex-container statistics">
        <div class="margin-auto">
            {% for index, singleStatistic in statistics.statistics %}
                {{ index }}. {{ singleStatistic.getMeanTimeInSeconds() }} </br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
